.nav-text {
  color: #5d5d5d;
  font-size: 2em;
  text-decoration: none;
  font-weight: bold;
}

.nav-text-subtle {
  color: #5d5d5d;
  font-size: 2em;
  text-decoration: none;
  font-weight: medium;
}
