.NavBarContainer {
  width: 100%;
  display: inline-block;
  max-width: 910px;
  margin-bottom: 64px;
  height: 20vh;
  margin-top: 32px;
  position: relative;
  top: 0;
}

.NavBar {
  display: flex; 
  justify-content: space-around;
  align-items: center;
  align-content: center;
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0 !important;
}

.nav-text {
  color: #5d5d5d;
  font-size: 2em;
  text-decoration: none;
  font-weight: bold;
}

.sticky {
  top: 0 !important;
  position: fixed !important;
}